<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{toDo?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{toDo?.toDoText}}</p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <app-button-component (click)="sendId()" [title]="'Удалить'"></app-button-component>
<!--  <button (click)="sendId()"-->
<!--      mat-raised-button class="button-delete">-->
<!--      <mat-icon style="color: white">delete</mat-icon>-->
<!--      Удалить-->
<!--    </button>-->
  </mat-card-footer>
</mat-card>
