button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.button-delete {
  background-color: red !important;

  &:hover {
    background-color: darkred !important;
  }
}
