:host {
  padding: 16px;
}

ul {
  list-style: none;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-form {
  min-width: 150px;
  max-width: 100%;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.todo-full-width {
  width: 100%;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: green;
  color: white;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darkgreen;
  }

  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(102%) contrast(102%);
  }
}

.submit-disable {
  background-color: darkgrey;
  cursor: auto;
  color: #808080 !important;

  img {
    filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(619%) hue-rotate(111deg) brightness(93%) contrast(91%);
  }

  &:hover {
    background-color: darkgrey;
  }
}
