<div class="todo-list-container">
    <div class="left-col">
      <h1>Список задач</h1>
        <ng-container *ngIf="toDoList.length; else toDoListLoader">
            <ul>
              <li *ngFor="let toDo of toDoList; let i = index">
                <app-to-do-list-item [toDo]="toDo"></app-to-do-list-item>
              </li>
            </ul>
        </ng-container>
        <ng-template #toDoListLoader>
          <div class="loader">
            <mat-progress-spinner
              mode="indeterminate"
              diameter="50">
            </mat-progress-spinner>
          </div>
        </ng-template>
      <form class="todo-form">
        <div class="input-block">
          <mat-form-field class="todo-full-width">
            <mat-label>Содержание задачи</mat-label>
            <textarea #textAreaElement matInput placeholder="Что конкретно в планах..."></textarea>
          </mat-form-field>
          <mat-form-field class="todo-full-width">
            <mat-label>Описание задачи</mat-label>
            <textarea #textAreaElementDescription matInput placeholder="Описание задачи..."></textarea>
          </mat-form-field>
        </div>
        <app-button-component
          (click)="addNewElement()"
          [disabled]="buttonDisable()"
          [image]="'assets/images/addNewElement.svg'"
          [title]="'Создать задачу'"
          appTooltip="Создать задачу"
          [colorBackground]="'rgb(95,152,5)'"
          [offsetY]="-40"
          [shiftToMiddle]="true"
          [showTooltip]="!buttonDisable()"
          [type]="buttonSubmit.SUBMIT"></app-button-component>
      </form>
    </div>
    <div class="right-col">
<app-toasts></app-toasts>
    </div>
  </div>






