<div class="container">
  <h1>Список задач</h1>
  <ul>
    <li *ngFor="let toDo of toDoFromApi; let i = index">
      <app-to-do-list-item [toDo]="toDo" (idSent)="removeElementWithId($event)"></app-to-do-list-item>
    </li>
  </ul>


  <form class="todo-form">
    <mat-form-field class="todo-full-width">
      <mat-label>Содержание задачи</mat-label>
      <textarea #textAreaElement matInput placeholder="Что конкретно в планах..."></textarea>
    </mat-form-field>

    <button (click)="addNewElement()"
            [disabled]="buttonDisable()"
            class="submit-button-container"
            [class.submit-disable]="buttonDisable()">
      <img src="assets/images/addNewElement.svg" alt="">
      Создать задачу
    </button>
  </form>
</div>



